@import './scss/variables.scss';
@import './scss/base.scss';
@import './scss/grid-colors.scss';
@import './scss/grid-structure.scss';
@import './scss/preview.scss';
@import './scss/shortcodes.scss';

/** on drag */
.ghost {
  background: $color-1;
  border: 1px solid $color-1 !important;
  color: $color-2 !important;
}
.app {
  margin: 0;
  width:100%;
  padding-bottom: 2rem;
}
