
// header
.masthead {
  margin: 0;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://source.unsplash.com/1200x768);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: blue;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(77, 75, 75, 0.541);
    z-index: 1;
  }
  @media (max-width: 600px) {
    height: 20rem;
  }
  .masthead-body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    width: calc(100% / 2 - 1rem);
    @media (max-width: 600px) {
      width: calc(100% - 1rem);
    }
    color: white;
    .masthead-title {
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 0.5rem;
      padding: 0;
      color: white;
    }
    .masthead-description {
      margin: 0;
      margin-bottom: 0.5rem;
      padding: 0;
      line-height: 1.3;
      color: #ddd;
    }
  }
}

// iframe
.iframe {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $color-1;
  &::before {
    display: block;
    padding-bottom: 80%;
    content: '';
  }
  embed,
  iframe,
  object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  video {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

